<div class="fullscreen">
  <div class="row main-page-section">
    <div class="col-sm-12 text-center">
      <h1 class="main-header">nimble.</h1>
      <p style="color: #FFFFFF">Scrum projects made simple</p>
    </div>

    <div class="col-sm-4">
    </div>

    <div class="col-sm-4">
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h2 class="text-center">Sign in</h2>

        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>

        <div class="form=group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me, class: 'form=control' %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: 'btn btn-info' %>
        </div>
      <% end %>
      <div class="text-center margin15">
        <%= render "devise/shared/links" %>
      </div>
    </div>

    <div class="col-sm-4">
    </div>

  </div>
</div>
